
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: gkeclusters.compute.gcp.crossplane.io
spec:
  group: compute.gcp.crossplane.io
  names:
    kind: GKECluster
    listKind: GKEClusterList
    plural: gkeclusters
    singular: gkecluster
  scope: Cluster
  subresources: {}
  validation:
    openAPIV3Schema:
      description: A GKECluster is a managed resource that represents a Google Kubernetes
        Engine cluster.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: A GKEClusterSpec defines the desired state of a GKECluster.
          properties:
            claimRef:
              description: ClaimReference specifies the resource claim to which this
                managed resource will be bound. ClaimReference is set automatically
                during dynamic provisioning. Crossplane does not currently support
                setting this field manually, per https://github.com/crossplaneio/crossplane-runtime/issues/19
              properties:
                apiVersion:
                  description: API version of the referent.
                  type: string
                fieldPath:
                  description: 'If referring to a piece of an object instead of an
                    entire object, this string should contain a valid JSON/Go field
                    access statement, such as desiredState.manifest.containers[2].
                    For example, if the object reference is to a container within
                    a pod, this would take on a value like: "spec.containers{name}"
                    (where "name" refers to the name of the container that triggered
                    the event) or if no container name is specified "spec.containers[2]"
                    (container with index 2 in this pod). This syntax is chosen only
                    to have some well-defined way of referencing a part of an object.
                    TODO: this design is not final and this field is subject to change
                    in the future.'
                  type: string
                kind:
                  description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                  type: string
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                  type: string
                namespace:
                  description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                  type: string
                resourceVersion:
                  description: 'Specific resourceVersion to which this reference is
                    made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                  type: string
                uid:
                  description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                  type: string
              type: object
            classRef:
              description: ClassReference specifies the resource class that was used
                to dynamically provision this managed resource, if any. Crossplane
                does not currently support setting this field manually, per https://github.com/crossplaneio/crossplane-runtime/issues/20
              properties:
                apiVersion:
                  description: API version of the referent.
                  type: string
                fieldPath:
                  description: 'If referring to a piece of an object instead of an
                    entire object, this string should contain a valid JSON/Go field
                    access statement, such as desiredState.manifest.containers[2].
                    For example, if the object reference is to a container within
                    a pod, this would take on a value like: "spec.containers{name}"
                    (where "name" refers to the name of the container that triggered
                    the event) or if no container name is specified "spec.containers[2]"
                    (container with index 2 in this pod). This syntax is chosen only
                    to have some well-defined way of referencing a part of an object.
                    TODO: this design is not final and this field is subject to change
                    in the future.'
                  type: string
                kind:
                  description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                  type: string
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                  type: string
                namespace:
                  description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                  type: string
                resourceVersion:
                  description: 'Specific resourceVersion to which this reference is
                    made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                  type: string
                uid:
                  description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                  type: string
              type: object
            clusterIPV4CIDR:
              description: ClusterIPV4CIDR specifies the IP address range of the pod
                IPs in this cluster. This is applicable only if EnableIPAlias is true.
                Omit this field to have a range chosen with the default size. Set
                it to a netmask (e.g. /24) to have a range chosen with a specific
                netmask.
              type: string
            clusterSecondaryRangeName:
              description: ClusterSecondaryRangeName specifies the name of the secondary
                range to be used for the cluster CIDR block. The secondary range will
                be used for pod IP addresses. This must be an existing secondary range
                associated with the cluster subnetwork.
              type: string
            clusterVersion:
              description: ClusterVersion is the initial Kubernetes version for this
                cluster. Users may specify either explicit versions offered by Kubernetes
                Engine or version aliases, for example "latest", "1.X", or "1.X.Y".
                Leave unset to use the default version.
              type: string
            createSubnetwork:
              description: CreateSubnetwork determines whether a new subnetwork will
                be created automatically for the cluster. Only applicable when EnableIPAlias
                is true.
              type: boolean
            enableIPAlias:
              description: EnableIPAlias determines whether Alias IPs will be used
                for pod IPs in the cluster.
              type: boolean
            labels:
              additionalProperties:
                type: string
              description: Labels for the cluster to use to annotate any related Google
                Compute Engine resources.
              type: object
            machineType:
              description: MachineType is the name of a Google Compute Engine machine
                type (e.g. n1-standard-1). If unspecified the default machine type
                is n1-standard-1.
              type: string
            network:
              description: Network is the name of the Google Compute Engine network
                to which the cluster is connected. If left unspecified, the default
                network will be used.
              type: string
            networkRef:
              description: NetworkRef references to a Network and retrieves its URI
              properties:
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    TODO: Add other useful fields. apiVersion, kind, uid?'
                  type: string
              type: object
            nodeIPV4CIDR:
              description: NodeIPV4CIDR specifies the IP address range of the instance
                IPs in this cluster. This is applicable only if CreateSubnetwork is
                true. Omit this field to have a range chosen with the default size.
                Set it to a netmask (e.g. /24) to have a range chosen with a specific
                netmask.
              type: string
            numNodes:
              description: NumNodes is the number of nodes to create in this cluster.
                You must ensure that your Compute Engine resource quota is sufficient
                for this number of instances. You must also have available firewall
                and routes quota.
              format: int64
              type: integer
            providerRef:
              description: ProviderReference specifies the provider that will be used
                to create, observe, update, and delete this managed resource.
              properties:
                apiVersion:
                  description: API version of the referent.
                  type: string
                fieldPath:
                  description: 'If referring to a piece of an object instead of an
                    entire object, this string should contain a valid JSON/Go field
                    access statement, such as desiredState.manifest.containers[2].
                    For example, if the object reference is to a container within
                    a pod, this would take on a value like: "spec.containers{name}"
                    (where "name" refers to the name of the container that triggered
                    the event) or if no container name is specified "spec.containers[2]"
                    (container with index 2 in this pod). This syntax is chosen only
                    to have some well-defined way of referencing a part of an object.
                    TODO: this design is not final and this field is subject to change
                    in the future.'
                  type: string
                kind:
                  description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                  type: string
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                  type: string
                namespace:
                  description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                  type: string
                resourceVersion:
                  description: 'Specific resourceVersion to which this reference is
                    made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                  type: string
                uid:
                  description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                  type: string
              type: object
            reclaimPolicy:
              description: ReclaimPolicy specifies what will happen to this managed
                resource when its resource claim is deleted, and what will happen
                to the underlying external resource when the managed resource is deleted.
                The "Delete" policy causes the managed resource to be deleted when
                its bound resource claim is deleted, and in turn causes the external
                resource to be deleted when its managed resource is deleted. The "Retain"
                policy causes the managed resource to be retained, in binding phase
                "Released", when its resource claim is deleted, and in turn causes
                the external resource to be retained when its managed resource is
                deleted. The "Retain" policy is used when no policy is specified.
              enum:
              - Retain
              - Delete
              type: string
            scopes:
              description: Scopes are the set of Google API scopes to be made available
                on all of the node VMs under the "default" service account.
              items:
                type: string
              type: array
            serviceIPV4CIDR:
              description: ServiceIPV4CIDR specifies the IP address range of service
                IPs in this cluster. This is applicable only if EnableIPAlias is true.
                Omit this field to have a range chosen with the default size. Set
                it to a netmask (e.g. /24) to have a range chosen with a specific
                netmask.
              type: string
            servicesSecondaryRangeName:
              description: ServicesSecondaryRangeName specifies the name of the secondary
                range to be used as for the services CIDR block. The secondary range
                will be used for service ClusterIPs. This must be an existing secondary
                range associated with the cluster subnetwork.
              type: string
            subnetwork:
              description: Subnetwork is the name of the Google Compute Engine subnetwork
                to which the cluster is connected.
              type: string
            subnetworkRef:
              description: SubnetworkRef references to a Subnetwork and retrieves
                its URI
              properties:
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    TODO: Add other useful fields. apiVersion, kind, uid?'
                  type: string
              type: object
            writeConnectionSecretToRef:
              description: WriteConnectionSecretToReference specifies the namespace
                and name of a Secret to which any connection details for this managed
                resource should be written. Connection details frequently include
                the endpoint, username, and password required to connect to the managed
                resource.
              properties:
                name:
                  description: Name of the secret.
                  type: string
                namespace:
                  description: Namespace of the secret.
                  type: string
              required:
              - name
              - namespace
              type: object
            zone:
              description: Zone specifies the name of the Google Compute Engine zone
                in which this cluster resides.
              type: string
          required:
          - numNodes
          - providerRef
          type: object
        status:
          description: A GKEClusterStatus represents the observed state of a GKECluster.
          properties:
            bindingPhase:
              description: Phase represents the binding phase of a managed resource
                or claim. Unbindable resources cannot be bound, typically because
                they are currently unavailable, or still being created. Unbound resource
                are available for binding, and Bound resources have successfully bound
                to another resource.
              enum:
              - Unbindable
              - Unbound
              - Bound
              - Released
              type: string
            clusterName:
              description: ClusterName is the name of this GKE cluster. The name is
                automatically generated by Crossplane.
              type: string
            conditions:
              description: Conditions of the resource.
              items:
                description: A Condition that may apply to a managed resource.
                properties:
                  lastTransitionTime:
                    description: LastTransitionTime is the last time this condition
                      transitioned from one status to another.
                    format: date-time
                    type: string
                  message:
                    description: A Message containing details about this condition's
                      last transition from one status to another, if any.
                    type: string
                  reason:
                    description: A Reason for this condition's last transition from
                      one status to another.
                    type: string
                  status:
                    description: Status of this condition; is it currently True, False,
                      or Unknown?
                    type: string
                  type:
                    description: Type of this condition. At most one of each condition
                      type may apply to a resource at any point in time.
                    type: string
                required:
                - lastTransitionTime
                - reason
                - status
                - type
                type: object
              type: array
            endpoint:
              description: Endpoint of the GKE cluster used in connection strings.
              type: string
            state:
              description: State of this GKE cluster.
              type: string
          type: object
      type: object
  version: v1alpha3
  versions:
  - name: v1alpha3
    served: true
    storage: false
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
